.git
.git/*
.github
.gitignore
.env
.env.*
!.env.example

docker-compose.yml
Dockerfile

node_modules
vendor

storage/logs/*
storage/cache/*
storage/database/*.sqlite
storage/database/*.sqlite3

writable/

*.log
*.sqlite
*.sqlite3
*.db

.phpunit.result.cache
.php-cs-fixer.cache

tests
docs
README.md
